.header {
  background-color: #111;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.logo {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.controls {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
}
